/*General*/

    :root {
    --height: 512px;

    }

    body{
        background: black;
        color:black;

    }

    h1{
        color:white
    }

    .width-control{
        width:100%;
        text-align: center;
    }


    .screen-container{}



    .second-screen-div{
        display: none;
        height: var(--height);

        
    }

    .validation-screen-div{
        display: none;
        position: relative;
        background-color: blue;
    }

/*First Screen*/

    .first-screen-div{
        display:none;
        background-image: url('/assets/images/screens/first_screen.jpg');
        height: var(--height);
        background-repeat: no-repeat;
        background-size: auto; /* Set background size to auto */
        justify-content: center;
        align-items: center;
        background-position: top;
    }

    .first-screen-row{
        display: grid;
    }

    .blurred-box{
        background-color: #ffffff9e;
        padding: 20px;
        border-radius: 15px;
    }

/*Second Screen*/

    /*General*/

    .canva-div {
        position: relative; /* Ensure container div is positioned relative */
        display: inline-block;
    }

    .worldmap{
        /*background-image: url('/assets/images/screens/second_screen.jpg'); */        
        height: var(--height);
        background-repeat: no-repeat;
        background-size: auto; /* Set background size to auto */
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: top;
    }

    #npcOne-position-avatar-image {

        content: url('/assets/images/avatars/npc.gif');
        width:52px;
        position: absolute;

    }

    /*Conversation Screen*/
    .conversation-screen-div{
        display: none;
        height: var(--height);

    }

    .conversation-row{
        background-color: blue;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }


        /*Hero*/
        .hero-text-col{
            text-align: right;
        }

        .hero-img-col{
            text-align: left;
        }

        /*NPC*/
        .npc-text-col{
            text-align: left;
            width: 50%;
        }

        .npc-img-col{
            text-align: right;
            width: 50%;
        }