/*General*/
#coordinates {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
}
    :root {
    --height: 512px;

    }

    body{
        background: black;
        color:black;

    }

    h1{
        color:white
    }

    .width-control{
        width:100%;
        text-align: center;
    }


    .screen-container{}



    .second-screen-div{
        display: none;
        height: var(--height);   
    }

    .validation-screen-div{
        display: none;
        position: relative;
        background-color: blue;
    }

    /*Avatars*/

        /*Hero*/
        #avatar1{
            
        }

        #avatar2{}
    
    /*Restart Game*/
        .restart-game-div{
            display: none
        }

/*First Screen*/

    .first-screen-div{
        display:none;
        background-image: url('/assets/images/screens/first_screen.jpg');
        height: var(--height);
        background-repeat: no-repeat;
        background-size: auto; /* Set background size to auto */
        justify-content: center;
        align-items: center;
        background-position: top;
    }

    .first-screen-row{
        display: grid;
    }



    .blurred-box{
        background-color: #ffffff9e;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
    }

    .first-screen-row-avatar{
        display: flex;
        padding: 10px 0 10px 0;
    }

    .select-avatar-col{
        width:45%;
    }

    /*Credits : was trying to switch from grayscale 0 to 1 through javascript. Was given a much simpler way to achieve input
    - https://stackoverflow.com/questions/78355169/accessing-parent-div-from-child-element?noredirect=1#comment138138297_78355169*/
    label:has(input:checked) img {
    filter: grayscale(0);
    }
    .avatar-img-select {
    height: 52px;
    filter: grayscale(1);
    }

    /*hides radio buttons in index.html 
    in first-screen-div for design purpose */
    input[type="radio"] {
        display: none;
    }

/*Second Screen*/

    /*General*/
        /*Manages profile and inventory display*/
            .hero-profile-container{
                color: white;
            }

            .hero-profile-rows{
            display: inline-flex;
            
            }

            .prof-inv-rows{
                width: 50%;
            
            }

            #hero-avatar-selected{
                width:50%
            }

            .item-img{
                width: 50%;
            }

    .canva-div {
        position: relative;
        display: inline-block;
    }

    .worldmap{
        /*background-image: url('/assets/images/screens/second_screen.jpg'); */        
        height: var(--height);
        background-repeat: no-repeat;
        background-size: auto; /* Set background size to auto */
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: top;
    }

    #npcOne-position-avatar-image {

        content: url('/assets/images/avatars/npc.gif');
        width:52px;
        position: absolute;

    }

    #hero-position-avatar-image {
        width:52px;
        position: absolute;

    }

    /*Conversation Screen*/
    .conversation-screen-div{
        display: none;
        height: var(--height);

    }

    .conversation-row{
        background-color: blue;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }

    .conv-validation-container{
        
        text-align: left;
        width: 100%;
    }


        /*Hero*/
        .hero-text-col{
            text-align: right;
        }

        .hero-img-col{
            text-align: left;
        }

        /*NPC*/
        .npc-text-col{
            text-align: left;
            width: 50%;
        }

        .npc-img-col{
            text-align: right;
            width: 50%;
        }

    /*Fight Screen*/
        .fight-screen-div{
            display: none;
        }
        .fighter-row{
            background: blue;
            border-color: white solid;
            border-radius: 20px;
            color: white;
            display: flex;
            margin: 20px;
            padding: 10px;
            height: 25vh;
        }

        .profile-col{
            width: 50%;
            text-align: center;
            height: 45vh;
            overflow: hidden;
        }
        .action-col{
            width: 50%;
            text-align: center;
            align-content: center;
            justify-content: center;
            flex-direction: row;
        }

        .comment-col{
            width: 50%;
            text-align: center;
            align-content: center;
        }

        #life-points{
            width: 90%;
        
        }

        .fighter-avatar-img{
            width: 100%;
        }

        #life-bar{
            width: 100%;
            background-color: grey;   
        }

        #hero-life-points{
            height: 30px;
            background-color: green;
        }

        #npc-life-points{
            height: 30px;
            background-color: green;
        }

        #npc-avatar-fight{
        }

        #hero-avatar-fight{
        }